services:

  dnscrypt-proxy:
    # Restart on crashes and on reboots
    restart: unless-stopped
    image: klutchell/dnscrypt-proxy:v2.1.12
    volumes:
      - './data/dnscrypt-proxy/config:/config'
    networks:
      pihole_net:
        ipv4_address: ${PIHOLE_PRIVATE_NET_PREFIX}.4

  pihole:
    restart: unless-stopped
    hostname: ${SITENAME}_pihole
    image: pihole/pihole:2025.11.0
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: ${TZ}
      FTLCONF_webserver_api_password: '${ADMIN_PASS}'
      FTLCONF_dns_dnssec: 'false'
      FTLCONF_dns_revServers: 'true,${REV_SERVER_CIDR},${CONDITIONAL_FORWARDING_IP}#53,${SITENAME}.local'
      FTLCONF_dns_upstreams: '${PIHOLE_PRIVATE_NET_PREFIX}.4#5053' #'9.9.9.9'
      FTLCONF_dns_queryLogging: 'true'
      FTLCONF_dns_interface: 'eth0'
      FTLCONF_dns_listeningMode: 'ALL'
      FTLCONF_LOCAL_IPV4: ${IPV4ADDR}
      FTLCONF_LOCAL_IPV6: ${IPV6ADDR}
    volumes:
       - ${VOLUMESDIR}/pihole/etc-pihole:/etc/pihole/
       - ${VOLUMESDIR}/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    depends_on:
      - dnscrypt-proxy
    networks:
      pihole_net:
        ipv4_address: ${PIHOLE_PRIVATE_NET_PREFIX}.3

networks:
  pihole_net:
    driver: bridge
    ipam:
      config:
        - subnet: ${PIHOLE_PRIVATE_NET_PREFIX}.0/29
